<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>100 Days of Runyon</title>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link href="/stylesheets/Flat-UI-master/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/stylesheets/Flat-UI-master/css/flat-ui.css" rel="stylesheet">

  <script>
  </script>
</head>
<body>

  <div id="main">
    <h1>100 Days of Runyon</h1>
    <% for(var i = 0; i < data.length; i++) { %>
      <div class="is">
        <img src="<%= data[i].images.standard_resolution.url %>" class="is-img" />
        <p class="is-title"><%= data[i].caption.text %></p>
      </div>
    <% } %>

    <p id="about">Built by <a href="https://github.com/sayangel">@sayangel</a> and <a href="https://github.com/kingkumar">@kingkumar</a>.</p>
  </div>

  <script src="/stylesheets/Flat-UI-master/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/jquery.ui.touch-punch.min.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/bootstrap.min.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/bootstrap-select.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/bootstrap-switch.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/flatui-checkbox.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/flatui-radio.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/jquery.tagsinput.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/jquery.placeholder.js"></script>
</body>
</html>
