body
{ 
background-image:url('../bg.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-size: cover;
}

h1,h2,h3,p
{
  color: #FFFFFF;
}

#countdown {
  position: fixed;

}

#main {
  width: 650px;
  margin: 0 auto;
  background-color:rgba(0,0,0,0.6);
  border-radius: 20px;
  text-align: center;
  padding-right:25px;
  padding-left:25px;
}

.is-img {
  display:block;
  width: 446px;
  border-radius: 5px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.is-title {
  font-size: 13px;
}

#trending {
  position: absolute;
  top: 150px;
}

#trending li {
  list-style-type: none;
}

#startStream {
  display: block;
  margin: 0 auto;
  width: 300px;
}

#logo {
  width: 180px;
  vertical-align: top;
}
